<ion-modal-view ng-controller="RestaurantesCtrl">
    <ion-header-bar>
        <h1 class="title">Novo Restaurante</h1>
        <div class="buttons">
            <button class="button button-clear" ng-click="closeAddRestaurante();">Cancel</button>
        </div>
    </ion-header-bar>
    <ion-content>
        <form ng-controller="RestaurantesCtrl" ng-submit="saveRestaurante()">
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">Nome</span>
                    <input type="text" ng-model="restauranteData.Nome">
                </label>
                <label class="item item-input">
                    <span class="input-label">Cozinha</span>
                    <input type="text" ng-model="restauranteData.Cozinha">
                </label>
                <label class="item">
                    <button class="button button-block button-positive" type="submit" >Save</button>
                </label>
            </div>
        </form>
    </ion-content>
</ion-modal-view>
